<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteBase /ventasPet/
# bloquear la vista de rutas raices como archivos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Options -Indexes


# Generales [INICIO]
RewriteRule ^portada$ portada.php
RewriteRule ^inicio$ index.php
RewriteRule ^validarKeys$ login/verificarLogin.php
RewriteRule ^validarKeys_Dom$ login/verificarLoginDom.php
# Generales [FIN]

# Perfil de Usuario [INICIO]
RewriteRule ^ConfigProfile$ Config/profile.php
# Perfil de Usuario [FIN]

# Configuración[INICIO]
RewriteRule ^RIPS_Report$ Reportes/ReportesRIPS.php
# Configuración [FIN]

# Contabilidad[INICIO]
RewriteRule ^FE_Contabilidad$ Contabilidad/Contabilidad.php
RewriteRule ^FE_ContabilidadCopy$ Contabilidad/ContabilidadD.php
RewriteRule ^FECCPrint$ Contabilidad/Impresion/FE_ImprimirComprobanteContable.php
RewriteRule ^FERPPrint$ Contabilidad/Impresion/FE_ImprimirReciboPago.php
RewriteRule ^FERCPrint$ Contabilidad/Impresion/FE_ImprimirReciboCaja.php
# Contabilidad [FIN]

# Facturacion [INICIO]
RewriteRule ^FE_FCE$ Facturacion/FE_Facturacion.php
RewriteRule ^Imprimir_Factura$ Facturacion/Imprimir_Factura.php
RewriteRule ^Descargar_Factura$ Facturacion/Descargar_Factura.php
RewriteRule ^Imprimir_FacturaPDF$ Facturacion/Imprimir_FacturaPDF.php
# RewriteRule ^FE_FacturaCliente$ Cliente/FE_Factura.php
# Facturacion [FIN]

# Facturacion Empresa [INICIO]
RewriteRule ^FE_Empresa$ Empresa/FE_Empresa.php
# Facturacion Empresa [FIN]

# Entidades [INICIO]
RewriteRule ^FE_Entidades$ Entidades/Entidades.php
# RewriteRule ^FE_FacturaCliente$ Cliente/FE_Factura.php
# Entidades [FIN]

# Configuracion de FE [INICIO]
RewriteRule ^FE_Config$ Configuracion/FE_Config.php
# Configuracion de FE [FIN]

# Configuracion de Historias [INICIO]
RewriteRule ^FE_Autorizaciones$ HistoriasRips/FE_Autorizaciones.php
# Configuracion de Historias [FIN]

# Configuracion de Nomina [INICIO]
RewriteRule ^FE_Nomina$ Nomina/FE_Nomina.php
RewriteRule ^FE_DetalleEmpleado$ Nomina/FE_DetalleEmpleado.php
RewriteRule ^FE_ImprimirNominaG$ Nomina/FE_InprimirNominaGrupal.php
RewriteRule ^FE_ImprimirNominaI$ Nomina/FE_InprimirNominaIndividual.php
RewriteRule ^FE_ImprimirLiquidacion$ Nomina/FE_ImprimirLiquidacion.php
# Configuracion de Nomina [FIN]

# Firma de Contrato por parte del empleado [INICIO]
RewriteRule ^verContrato/(.+)$ Contrato/index.php?json=$1 
# RewriteRule ^verContrato/(.+)$ Contrato/index.php?idContrato=$1 
# RewriteRule ^verContrato2/(.+)$ Contrato/index2.php?json=$1 
RewriteRule ^FE_ImprimirContrato$ Contrato/descargar.php
# RewriteRule ^descargarContrato/(.+)$ Contrato/descargar.php?idContrato=$1 
# Firma de Contrato por parte del empleado [FIN]

#Dahsnoard
RewriteRule ^Dashboard$  Portada/portada.php

#Pacientes
RewriteRule ^pacientes$  Pacientes/pacientes.php
RewriteRule ^verPaciente$  Pacientes/verPaciente.php

#Citas
RewriteRule ^citasControl$  Citas/citasHoy.php
RewriteRule ^verCitas$  Citas/verCitas.php

#Consultas
RewriteRule ^consultas$  Consultas/consultas.php
RewriteRule ^nuevaConsulta$  Consultas/nuevaConsulta.php

#Examenes
RewriteRule ^verExamenes$  Examenes/verExamenes.php

#Recetas
RewriteRule ^verRecetas$  Recetas/verRecetas.php
RewriteRule ^crearReceta$  Recetas/nuevaReceta.php

#Incapacidades
RewriteRule ^verIncapacidades$  Incapacidades/verIncapacidades.php

#DocumentosInformados (Consentimientos/informes)
RewriteRule ^verConcentimientos$  Documentos/verDocumentos.php

#Antecedentes
RewriteRule ^verAntecedentes$  Antecedentes/verAntecedentes.php


#vacunacion

RewriteRule ^Vacunas$  vacunas/homeVacunacion.php
RewriteRule ^esquemaVacunacion$  vacunas/esquemaVacunacion.php
#vacunacion

#laboratorio
RewriteRule ^laboratorio$  Laboratorio/laboratorio.php
RewriteRule ^examenes$  Laboratorio/nuevoExamen.php

#enfermeria
RewriteRule ^enfermeria$  NotasEnfermeria/notasEnfermeria.php

#consulta/historia
RewriteRule ^consulta$  Consultas/consultaPlantilla.php
RewriteRule ^seleccionarHistoria$  Consultas/consultas.php

RewriteRule ^historiaMedica$  Consultas/nuevaConsulta.php

RewriteRule ^Print_format$ Configuracion/Print_format.php